@import url("http://fonts.cdnfonts.com/css/avenir-lt-std");

body {
  margin: 0;
  font-family: Avenir LT Std;
  background: #161616;
}

.form {
  background: #292929;
  border-radius: 30px 0 0 30px;
}
.logo,
.crypt {
  vertical-align: middle;
  display: inline-block;
}
.signin {
  border-radius: 30px;
  background: #474747;
  box-shadow: 0px 0px 13px rgba(0, 0, 0, 0.55);
  margin-top:15vw !important;
}
.para {
  margin-left: 7em;
}
hr {
  width: 50%;
  text-align: left;
  margin-left: 0;
}
input {
  background-color: #292929;
  border: none;
  border-bottom: 2px solid #000000;
  /* transform: rotate(-0.17deg); */
  color: white;
  text-decoration: none;
  /* display: inline-block; */
  text-transform: lowercase;
  text-align: left;
}
.btn-login {
  background: #ffb800;
  box-shadow: 0px 2px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 43px;
  font-size: 1.5em;
  color: #000000;
}
.signin-text {
  font-weight: 600;
  font-size: 2.2em;
}
.email {
  font-size: 1.7em;
}
.pwd {
  font-size: 1.7em;
}
.signup-text {
  color: #ffb800;
  padding-left: 1rem;
  text-decoration: none;
}
.signup-text:hover{
  color: #ffb800;
font-weight: 800;
}
.mobile {
  border-radius: 30px;
  background: #474747;
  box-shadow: 0px 0px 13px rgba(0, 0, 0, 0.55);
}
.form-mobile {
  background: #292929;
  border-radius: 0 0 30px 30px;
  box-shadow: 0px 3px rgba(0, 0, 0, 0.55);
}

.sign_in {
  color: black;
  text-decoration: none;
}
