@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
.leaderboard-container .position-container {
  position: absolute;
  top: 32.847vw;
  left: 11.0416vw;
  color: #ffffff;
}

.leaderboard-container .position-box {
  max-width: 82.22vw;
}

/* -------------------- Header Box ----------------------- */

.leaderboard-container .position-header {
  background: #292929;
  font-weight: 600;
  font-size: 1.25vw;
  border: 1px solid #161616;
  width: 82.22vw;
  height: 4.0972vw;
  border-radius: 0.555vw;
  color: #ffb800;
  display: flex;
  flex-direction: row;
  text-align: center;
  justify-content: center;
}

.leaderboard-container .PositionH {
  flex: 1;
  margin-top: 1vw;
}

.leaderboard-container .PositionN {
  flex: 1;
  margin-top: 1vw;
}

.leaderboard-container .PositionP {
  flex: 1;
  margin-top: 1vw;
}

/* -------------------- Table ----------------------- */

.leaderboard-container .position-table {
  margin-top: 0.972vw;
  background: #292929;
  position: relative;
  border: 1px solid #161616;
  width: 82.22vw;
  height: 5.486vw;
  border-radius: 0.555vw;
  display: flex;
  flex-direction: row;
  text-align: center;
  justify-content: center;
}

.leaderboard-container .position-h {
  flex: 1;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 1vw;
}

.leaderboard-container .Position {
  color: #000000;
  font-family: "Roboto", sans-serif;
  font-weight: 600;
  font-size: 0.833vw;
  width: 5.277vw;
  height: 2.152vw;
  padding: 0vw 0.833vw;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-radius: 3.472vw;
}

.leaderboard-container .position-n {
  flex: 1;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.leaderboard-container .position-pic {
  width: 2.22vw;
  height: 2.22vw;
  /* border: 5px solid blue; */
  /* background: #7d7d7d; */
  border-radius: 50%;
  margin-right: 1vw;
}

.leaderboard-container .position-name {
  margin-top: 1vw;
  font-size: 1.25vw;
  font-weight: 600;
  width: 10vw;
  height: 1.736vw;
  display: flex;
  align-items: center;
}

.leaderboard-container .position-p {
  flex: 1;
  font-size: 1.36vw;
  font-weight: 600;
  width: 2.986vw;
  height: 5vw;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  color: #ffb800;
}

@media (max-width: 578px) {
  .leaderboard-container .position-container {
    top: 45vh;
    left: 9vw;
    max-width: 80vw;
  }
  .leaderboard-container .position-header {
    font-size: 1.7vh;
    height: 4.0972vh;
  }
  /* -------------------- Table ----------------------- */
  .leaderboard-container .position-table {
    margin-top: 1.5vw;
    height: 5.486vh;
  }
  .leaderboard-container .position-h {
    margin-top: 2vh;
  }
  .leaderboard-container .Position {
    font-size: 1.5vh;
    width: 9.277vw;
    height: 2.152vh;
  }
  .leaderboard-container .position-n {
    flex: 1;
    width: 9vw;
  }
  .leaderboard-container .position-pic {
    width: 3.22vh;
    height: 3.22vh;
  }
  .leaderboard-container .position-name {
    font-size: 1vh;
    width: 15.805vw;
    height: 1.736vh;
    margin-top: 2vh;
  }
  .leaderboard-container .position-p {
    flex: 1;
    font-size: 1.6vh;
    font-weight: 600;
    width: 2.986vw;
    height: 5vh;
  }
}

@media (max-width: 360px) {
  .leaderboard-container .position-container {
    top: 45vh;
    max-width: 80vw;
  }
}
