.App {
  background-color: #1b1b1b;
  margin: 0;
  padding: 0;
  min-height: 120vh;
  min-width: 100vw;
  box-sizing: border-box;
}
.answer-err {
  color: red;
}

.competitions-container .sidebar {
  background-color: #121212;
  height: 100vh;
  width: 90px;
  margin-top: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: fixed;
}

.App .homeicon,
.App .leaderboardicon,
.App .competitionicon,
.App .userprofileicon {
  color: #ffffff;
  transition: 0.2s;
}

.App .homeicon:hover,
.App .leaderboardicon:hover,
.App .competitionicon:hover,
.App .userprofileicon:hover {
  color: #ffb800;
}

.App .smallicon,
.App .homeicon,
.App .leaderboardicon,
.App .competitionicon,
.App .userprofileicon {
  margin-top: 40px;
  font-size: 3vw;
}

.competition-main-outer {
  margin-left: 90px;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.competition-title {
  color: #ffb800;
  font-size: 55px;
  font-weight: 700;
  display: flex;
  align-items: center;
  font: "Poppins";
  top: 4rem;
}

.competition-line {
  background-color: white;
  height: 0.05rem;
  width: 100%;
  margin-left: 2rem;
}

.competition-content-outer {
  display: flex;
}
.competition-question-outer {
  min-height: 36rem;
  background-color: #292929;
  border-radius: 54px;
  box-sizing: border-box;
  padding: 2rem;
}

.competition-question-content {
  color: white;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
}
.competition-score {
  background-color: #292929;
  border-radius: 54px;
  min-height: 36rem;
  width: 15rem;
  margin-left: 5rem;
}

.question-counter {
  font-size: 19px;
}

.total {
  font-weight: 600;
}

.question-counter span {
  color: #ffb800;
}

.question-title {
  margin-top: 1rem;
  font-weight: 750;
  font-size: 23px;
}

.boxes-outer {
  margin-top: 1rem;
  align-items: center;
  display: flex;
  justify-content: center;
  max-height: 80%;
}

.boxes {
  display: grid;
  grid-template-columns: 20rem 20rem;
  height: 20rem;
  grid-gap: 25px;
}

.grid-item {
  background-color: rgb(41, 41, 41);
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  font-size: 2rem;
}

.submit-outer {
  display: flex;
  margin-top: 2rem;
}

textarea {
  border-radius: 32px;
  background-color: #ffb800;
  height: 3.2rem;
  width: 458px;
  border-radius: 32px;
  color: black;
  font-weight: 600;
  align-items: center;
  justify-content: center;
  border: none;
  padding-top: 0.5rem;
  padding-left: 1rem;
  font-size: 1.4rem;
}

textarea:focus {
  border: none;
}

img {
  width: 100%;
  height: 9rem;
}

.submit {
  background-color: #72777b;
  border-radius: 32px;
  color: white;
  font-weight: 600;
  width: 215px;
  margin-left: 1rem;
  border: none;
  font-size: 1.2rem;
}

.score-upper {
  height: 28%;
  display: flex;
  align-items: center;
  margin-top: 1rem;
  justify-content: center;
}

.score-middle {
  height: 28%;
  display: flex;
  align-items: center;
  margin-top: 1rem;
  justify-content: center;
}

.score-lower {
  height: 44%;
  font-size: 1.5rem;
  font-weight: 200;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.timer1 {
  width: 9rem;
  height: 9rem;
  border-radius: 10rem;
  border: 10px solid white;
  font-size: 3rem;
  font-weight: 700;
  color: white;
  justify-content: center;
  align-items: center;
  display: flex;
}

.timer2 {
  width: 9rem;
  height: 9rem;
  border-radius: 10rem;
  border: 10px solid #ffb800;
  font-size: 1.8rem;
  font-weight: 700;
  color: white;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.score {
  font-size: 1rem;
  font-weight: 300;
  color: white;
}

.difficulty {
  color: white;
}

.level-outer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.score-lower span {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
}

.div1,.div2,.div3 {
  height: 1.5rem;
  width: 1.5rem;
  border-radius: 2rem;
  border: 3px solid white;
}


.line {
  background-color: white;
  height: 0.2rem;
  width: 1rem;
}

img {
}

input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none;
}

.out {
  margin-top: 0;
}

.first {
  background: #fbb800;
  box-shadow: -2px -2px 50px rgba(0, 0, 0, 0.25);
  border-radius: 2rem;
  border: 0;
  width: 13rem;
  height: 4rem;
  display: flex;
  align-items: center;
  position: relative;
}

.first-text {
  font-family: Avenir LT Std;
  font-style: normal;
  font-weight: normal;
  font-size: 1.3rem;
  line-height: 22px;
  color: #292929;
}

.first-logo {
  font-size: 3rem;
  margin-left: 1.1vw;
}

.first-overlay {
  border-radius: 2.89vw;
  position: absolute;
  top: 0;
  left: 0;
  width: 13rem;
  height: 4.72vw;
  background: rgba(0, 0, 0, 0);
  transition: background 0.5s ease;
}

.first:hover .first-overlay {
  display: block;
  background: rgba(248, 246, 246, 0.3);
}

@media only screen and (max-width: 1100px) {
  .competition-content-outer {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }

  .competition-score {
    width: 100%;
    margin-left: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    min-height: 13rem;
    margin-top: 2rem;
    padding: 0;
  }

  .score-upper {
    margin-top: 0;
    height: 100%;
    margin: 0;
    width: 33%;
  }

  .score-middle {
    margin-top: 0;
    height: 100%;
    margin: 0;
    width: 33%;
  }

  .score-lower {
    margin-top: 0;
    height: 100%;
    display: flex;
    justify-content: space-between;
    margin: 0;
    width: 33%;
  }

  .first {
    margin-top: 1rem;
  }

  .competition-title {
    font-size: 2.8rem;
  }
}

@media only screen and (max-width: 890px) {
  .competition-question-outer {
    width: 40rem;
  }

  .first {
    width: 10rem;
  }

  .competition-title {
    font-size: 2rem;
  }
  .boxes {
    display: grid;
    grid-template-columns: 15rem 15rem;
    height: 20rem;
    grid-gap: 25px;
  }

  .first-text {
    font-size: 1.2rem;
    margin-top: 1rem;
  }
}

@media only screen and (max-width: 690px) {
  .competition-question-outer {
    width: 30rem;
  }

  .boxes {
    display: grid;
    grid-template-columns: 8rem 8rem;
    height: 20rem;
    grid-gap: 15px;
  }

  .competition-title {
    font-size: 1.8rem;
  }
 

}

@media only screen and (max-width: 690px) {
  .competition-question-outer {
    width: 25rem;
  }
  .competition-score {
    width: 25rem;
  }
  .timer1 {
    width: 6rem;
    height: 6rem;
    border-radius: 10rem;
    border: 6px solid white;
    font-size: 2rem;
  }

  .timer2 {
    width: 6rem;
    height: 6rem;
    border-radius: 10rem;
    border: 6px solid #ffb800;
    font-size: 1.5rem;
  }
  .div1,.div2,.div3 {
    height: 1.1rem;
    width: 1.1rem;
    border-radius: 2rem;
    border: 2px solid white;
  }
  
  .score-lower span {
    font-size: 1rem;
  }

  .first {
    width: 7rem;
    padding: 0.5rem;
  }
 
  .first-text {
    font-size: 1rem;
    margin-top: 1rem;
  }
  
}

@media screen and (max-width: 576px) {
  .competition-main-outer {
    text-align: center;
    padding-right: 20%;
  }

  .competition-content-outer {
    width: 20rem;
  }
  .competitions-container .sidebar {
    display: none;
  }
  .sidebar2 .smallicon,
  .sidebar2 .homeicon,
  .sidebar2 .leaderboardicon,
  .sidebar2 .competitionicon,
  .sidebar2 .userprofileicon {
    margin-top: 40px;
    font-size: 8vw;
  }
}

@media only screen and (max-width: 490px) {
  .competition-question-outer {
    width: 20rem;
  }
}


