.contact-container {
  height: 100vh;
  background-color: #191919;
  position: absolute;
  top: 395vh;
  width: 100%;
}
.contact-h {
  position: absolute;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  font-family: "Poppins";
  font-size: 48px;
  font-weight: 800;
  color: #ffb800;
}

.c-box {
  /* background-color: antiquewhite; */
  width: 200px;
  align-items: center;
  justify-content: center;
}
.contact-img {
  margin-left: 50%;
  transform: translateX(-50%);
  width: 85px;
  height: 85px;
}
.c-box-text {
  font-family: "Roboto";
  font-weight: 800;
  font-size: 22px;
  text-align: center;
  color: white;
  margin-top: 15px;
}
.contact-row {
  width: 60%;
  margin-left: 20%;
  position: absolute;
  top: 190px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  /* background-color: aliceblue; */
}

.footer-c {
  position: absolute;
  height: 260px;
  bottom: 0;
  left: 0;
  background: #292929;
  width: 100%;
  text-align: center;
  align-items: center;
  width: 100vw;
}

.logo-img {
  height: 68px;
  width: 68px;
  position: absolute;
  top: 25px;
  left: 50%;
  transform: translateX(-50%);
}

.footer-content {
  width: 548px;
  height: 52px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  top: 113px;
  color: #ffffff;
  font-size: 16px;
}

.footer-icon {
  margin: 0px 15px;
  margin-top: 200px;
  width: 24px;
  height: 24px;
  background-color: #ffb800;
  border-radius: 50%;
  border: none;

}

.footer-icon:hover{
  background-color: white;
}

@media only screen and (max-width: 600px) {
  .contact-container {
    width: 100%;
    min-height: 900px;
    top: calc(570vw + 900px);
  }
  .contact-h {
    font-size: 30px;
    top: 50px;
    text-align: center;
  }
  .contact-h {
    flex-direction: column;
    width: 100%;
  }

  .c-box {
    /* background-color: antiquewhite; */
    width: 100%;
    overflow-x: hidden;
  }
  .contact-img {
    margin-left: 50%;
    transform: translateX(-50%);
    width: 55px;
    height: 55px;
    color: #ffb800;
  }
  
    
  .logo-img {
    height: 55px;
    width: 55px;
    position: absolute;
    top: 25px;
    left: 50%;
    transform: translateX(-50%);
  }
  .c-box-text {
    font-family: "Roboto";
    font-weight: 800;
    font-size: 18px;
    text-align: center;
    color: white;
    margin-top: 10px;
    margin-bottom: 30px;
  }
  .contact-row {
    max-width: 600px;
    position: absolute;
    top: 140px;
    overflow-x: hidden;
    flex-direction: column;
    display: flex;
  }

  .footer-content {
    width: 100%;
    height: 52px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    color: #ffffff;
    font-size: 14px;
  }

  .footer-icon {
    margin: 0px 15px;
    margin-top: 180px;
    width: 24px;
    height: 24px;
    background-color: #ffb800;
    border-radius: 50%;
    border: none;
  }

  .footer-c {
    position: absolute;
    height: 250px;
    bottom: 0;
    background: #292929;
    width: 100%;
    text-align: center;
    align-items: center;
  }
}
