@font-face {
    font-family: "Avenir";
    /* src: url("../assets/fonts/AvenirLTStd-Blasck.otf"); */
  }
  *{
    border:none;
    padding:none;
    margin:none;
  
  }
  
  
    
    .accordion-wrapper
    {
      
      width:1006px;
      margin-left:auto;
      margin-right:auto;
      margin-bottom: 24px;
      background-color: #292929;
      padding:10px;
     
    }
    
    .accordion-item {
      background-color: #292929;
      border:none;
      font-family: Avenir LT Std;
  
  font-style: normal;
  font-weight: 350;
  font-size: 16px;
  line-height: 24px;
  /* or 150% */
  
  
  color: #9C9C9C;
      background-color: #292929;
      overflow: hidden;
      transition: max-height 0.3s cubic-bezier(1, 0, 1, 0);
      height: auto;
      max-height: 9999px;
    }
    
    .accordion-item.collapsed {
      border: none;
      max-height: 0;
      transition: max-height 0.35s cubic-bezier(0, 1, 0, 1);
      background-color: #292929;
    }
    
    .accordion-title {
      background-color: #292929;
   padding-top: 14.5px;
   padding-bottom: 14.5px;
   padding-left: 29px;
      border: none;
      font-family: Avenir LT Std;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 28px;
  /* identical to box height, or 117% */
  
  
  color: #FFFFFF;
      background-color: #292929;
      font-weight: 600;
      cursor: pointer;
      color: white;
    
      display: flex;
      justify-content: space-between;
      align-items: center;
    
      
    }
    
    
    .accordion-content {
      border: none;
      background-color: #292929;
      color:#9C9C9C;
      
    }
    