* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.sidebar2 {
  display: none;
}

@media screen and (max-width: 576px) {
  .sidebar2 {
    display: block;
    position: absolute;
    left: -20vw;
    transition: 0.2s;
    z-index: 10;
  }
  
  .sidebar2 .sidebar {
    flex: 6.25%;
    background: #121212;
    box-shadow: 0px 4px 30px 4px rgba(0, 0, 0, 0.03);
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 20vw;
  }

  .sidebar2 .smallicon,
  .sidebar2 .homeicon,
  .sidebar2 .leaderboardicon,
  .sidebar2 .competitionicon,
  .sidebar2 .userprofileicon {
    margin-top: 40px;
    font-size: 8vw;
  }

  .sidebar2 .homeicon,
  .sidebar2 .leaderboardicon,
  .sidebar2 .competitionicon,
  .sidebar2 .userprofileicon {
    color: #ffffff;
    transition: 0.2s;
  }

  .sidebar2 .homeicon:hover,
  .sidebar2 .leaderboardicon:hover,
  .sidebar2 .competitionicon:hover,
  .sidebar2 .userprofileicon:hover {
    color: #ffb800;
  }

  .sidebar2.slidein {
    display: block;
    position: absolute;
    left: 0;
    transition: 0.2s;
  }
}
